body {
  background-color: lightblue;
}

/* overskrift h1 design */

div.kasse{
background-color: aliceblue;
  width: 800px;
  border: 10px solid black;
  padding: 40px;
  margin: 50px;
  text-align:center;
}
div.kasse2{
background-color: aliceblue;
  width: 800px;
  border: 10px solid black;
  padding: 40px;
  margin: 50px;
  text-align:center;
}
div.kasse3{
background-color: aliceblue;
  width: 800px;
  border: 10px solid black;
  padding: 40px;
  margin: 50px;
  text-align:center;
}
div.kasse4{
background-color: aliceblue;
  width: 800px;
  border: 10px solid black;
  padding: 40px;
  margin: 50px;
  text-align:center;
}