body {
  background-color: whitesmoke;
}


h1{
font-style: cursive;
}

p{
background-color:white;
}



div.kasse{
border: 15px solid black;
width: 500px;
padding: 20px;
background-color: lavender;
margin: 20px;
}