body {
  background-color: whitesmoke;
}

/* overskrift h1 design */
h1{
font-style: cursive;
}

p{
background-color: white;
}



div.kasse{
background-color: aliceblue;
margin:10px;
border: 2px solid black;
width: 40%;
height: 40%;
overflow: hidden;
font-size: 40;
}

div.kasse2{
background-color: aliceblue;
margin: 10px;
border: 2px solid black;
width: 1000px;
height: 250px;
overflow: hidden;
font-size: 40;
}

div.kasse3{
background-color: aliceblue;
margin: 10px;
border: 2px solid black;
width: 200px;
height: 200px;
overflow: hidden;
font-size: 40;
}

div.kasse4{
background-color: aliceblue;
margin:10px;
border: 2px solid black;
width: 40%;
height: 40%;
overflow: hidden;
font-size: 40;
position: relative;
}